
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
    border-bottom: 1px solid rgb(207, 207, 207);
}

.content-header{
    display: flex;
    border-bottom: 1px solid rgb(207, 207, 207);
}

.content-header .chat-name{
    flex: 1;
    text-align: center;
}

.my-layout{
    height: 80vh;
    margin: 10vh;
    max-width: 1100px;
}

.main-box{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.msg-main-box{
    height: 100%;
    overflow: auto;
}


.my-sider{
    background-color: rgba(255, 255, 255, 0.267);
}

.my-footer{
    display: flex;
    align-items: center;
}

.my-footer textarea{
    margin: 0px 10px;
}

.msg-box{
    padding: 10px 20px;
    height: 100%;
    overflow: auto;
}

.msg-content{
    width: auto;
    background-color: rgba(100, 194, 231, 0.384);
    padding: 8px 10px;
    border-radius: 4px;
    margin: 4px 15px;
    border: 1px solid rgb(100, 194, 231);
}

.msg-right{
    max-width: 60%;
}

.msg-item {
    display: flex;
    padding: 5px;
    border-radius: 4px;
    margin: 10px;
    width: auto;
}
.is-me {
    display: flex;
    flex-direction: row-reverse;
}

.is-me .msg-content{
    background-color: rgba(37, 175, 122, 0.267);
    border: 1px solid rgb(37, 175, 122);
}

pre{
    margin: 0px;
    white-space: pre-wrap;
}

.msg-right > .info{
    display: flex;
    justify-content: space-between;
    padding: 0px 12px;
}
.info .name{
    margin-right: 10px;
}
.msg-img{
    max-width: 200px;
    max-height: 600px;
    border-radius: 3px;
}


.my-sider{
    overflow-y: auto;
    overflow-x: hidden;
}

.avatar-uploader{
    display: flex;
    justify-content: center;
}
.avatar-uploader > .ant-upload{
    width: 128px;
    height: 128px;
}

.avatar-uploader img{
    width: 128px;
    height: 128px;
    object-fit: cover;
    border-radius: 2px;
}


.no-joined-box{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* footer */
.pick-img{
    margin-right: 10px;
    cursor: pointer;
}
.emoji{
    cursor: pointer;
}

/* 系统消息 */
.msg-system{
    margin: 15px 0px;
}
.msg-system-time{
    text-align: center;
    font-size: 12px;
    color: rgba(83, 84, 85, 0.521);
}
.msg-system-con {
    text-align: center;
    color: rgba(27, 30, 32, 0.678);
}

/* 重置一些antd原始的样式 */
.ant-layout{
    background-color: rgba(255, 255, 255, 0.719);
    border-radius: 6px;
}

.content-header{
    background-color: rgba(255, 255, 255, 0);
}

.ant-menu{
    background-color: rgba(255, 255, 255, 0);
}

.ant-menu-submenu > .ant-menu{
    background-color: rgba(255, 255, 255, 0);
}

.ant-layout-footer{
    background-color: rgba(255, 255, 255, 0);
    box-shadow: 0px 3px 3px 3px #888;
}

.ant-menu-inline{
    border: none;
}

.drawer-btn{
    display: none;
}

.ant-layout-content{
    overflow: auto;
}

.ant-layout-footer{
    padding: 24px 30px;
}

/* 重置emoji框样式 */
.emoji-mart-scroll{
    overflow-x: hidden;
}


/* 重置badage样式 */
.ant-badge-count{
    min-width: 15px;
    height: 15px;
    line-height: 15px;
    padding: 0 3px;
}
.ant-badge{
    margin-right: 6px;
}
.ant-menu-item {
    overflow: visible;
}

/* 兼容移动端 */
@media screen and ( max-width: 700px ){
    .my-sider {
        display: none;
    }
    .my-layout{
        height: 100vh;
        margin: 0px;
        border-radius: 0px;
    }
    .drawer-btn{
        display: block;
    }
}


@media screen and ( min-width: 700px ) and ( max-width: 1000px ){
    .my-layout{
        margin: 30px;
    }
}
