

.login {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-box {
    width: 400px;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    padding: 30px;
}

.login-header{
    text-align: center;
    margin-bottom: 60px;
}

.login-header .ant-avatar{
    cursor: pointer;
}

.login-input {
    display: flex;
}

/* 兼容移动端 */
@media screen and ( max-width: 560px ){
    .login-box{
        border-radius: 4px;
        width: 80%;
        background-color: rgba(255, 255, 255, 0.767);
    }
    .login-header {
        margin-bottom: 30px;
    }
    .login-box h1{
        font-size: 2rem;
    }
}
