@import '~antd/dist/antd.css';

html, body {
    height: 100%;
    background: url("https://speed.moe/images/166e33c71a08752540c37c6fae094f6a.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

