
html, body, :global(#root) {
  height: 100%;
  background: url("https://i.speed.moe/images/166e33c71a08752540c37c6fae094f6a.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

